<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CastorConnexion" connectionString="Provider=SQLOLEDB;Data Source=localhost;Integrated Security=SSPI;Initial Catalog=CASTORFINDER;Connect Timeout=2"
      providerName="System.Data.OleDb" />
    <add name="Pollux.Properties.Settings.ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=localhost;Integrated Security=SSPI;Initial Catalog=CASTORFINDER;" />
  </connectionStrings>
  <appSettings>
    <add key="MinBudget" value="0"/>
    <add key="MaxBudget" value="1000000"/>
    <add key="PasBudget" value="1000"/>
    <add key="MinSurfHab" value="0"/>
    <add key="MaxSurfHab" value="300"/>
    <add key="PasSurfHab" value="1"/>
    <add key="MinSurfJard" value="0"/>
    <add key="MaxSurfJard" value="10000"/>
    <add key="PasSurfJard" value="10"/>
  </appSettings>
</configuration>